<header>
  <img src="../img/logo openAI.png" alt="AI" class="imgAi" />
  <h1>AI Description</h1>
</header>
<h1 class="title">GERAR DESCRIÇÃO E PALAVRAS-CHAVE</h1>
<div class="container">
  <form action="/find" method="POST" class="form">
    <label for="produto">Produto</label>
    <input type="text" name="produto" id="produto" />
    <label for="marca">Marca</label>
    <input type="text" name="marca" id="marca" />
    <label for="modelo">Modelo</label>
    <input type="text" name="modelo" id="modelo" />

    <button type="submit">Enviar</button>
  </form>

</div>